@use "sass:color";

$footer-color: color.mix(#02584A, #67D6CA, 100%);
$button-color: color.mix(#78C2AD, #FFFFFF, 100%);


@font-face {
    font-family: BorderIslamic;
    src: url("https://quran.seaade2024.com/data/quran-fonts/BordersIslamic1444-lg6g5.ttf") format('truetype');
}

@font-face {
    font-family: surahnames;
    src: url("https://quran.seaade2024.com/data/quran-fonts/Quran karim 114.ttf") format('truetype');
}

@font-face {
    font-family: basmalah;
    src: url("https://quran.seaade2024.com/data/quran-fonts/Basmalah Ver01.otf") format('opentype');
}

@font-face {
    font-family: UthmanicHafs;
    src: url("https://quran.seaade2024.com/data/quran-fonts/UthmanicHafs1Ver18.ttf") format('truetype'),
         url("https://quran.seaade2024.com/data/quran-fonts/UthmanicHafs1Ver18.woff2") format('woff2');
}

@font-face {
    font-family: IndoPak;
    src: url("https://quran.seaade2024.com/data/quran-fonts/indopak-nastaleeq-waqf-lazim-v4.2.1.ttf") format('truetype'),
         url("https://quran.seaade2024.com/data/quran-fonts/indopak-nastaleeq-waqf-lazim-v4.2.1.woff") format('woff'),
         url("https://quran.seaade2024.com/data/quran-fonts/indopak-nastaleeq-waqf-lazim-v4.2.1.woff2") format('woff2');
}

// @font-face {
//     font-family: ayaNo;
//     src: url("https://quran.seaade2024.com/data/quran-fonts/KfgqpcHafsUthmanicScriptRegular-nARZ1.ttf") format('truetype');
// }

.rotate-90 {
    transform: rotate(90deg);
}
.rotate-0 {
    transform: rotate(0deg);
}

.aya-side-menu-color{
    color: #A5F38A;
}

.rtl-truncate {
    direction: rtl; /* Set text direction to right-to-left */
    text-align: right; /* Align text to the right */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Add ellipsis (...) */
}

.background{
    // background-color: #2D6360;
    background-image: linear-gradient(to top right, #86D6C3, #75FF9C);
}

.modal-bg{
    background-color: $footer-color;
}

.contact-form-button-color{
    background-color: #8DFD98;
    background-color: #3AFFDC;
}

.background-image{
    background-image: url("https://quran.seaade2024.com/data/web-images/background-image.png");
    background-size: cover;
}

.header-image {
    background-image: url("https://quran.seaade2024.com/data/web-images/header-image.png");
    height: 768px;
}

.home-recitation{
    background-color: #78C2AD;
    border: 2px solid #C0C0C0;
}

.btn-color{
    background-color: $button-color;
}

.btn-color-outline{
    border-color: $button-color;
    color: $button-color;
}

.footer {
    height: 500px;
    background-color: $footer-color;
    .footer-copyright{
        height: 40px;
    }
}

.recitation-side-menu{
    background-color: $footer-color;
}
